alias todo='vim /Users/ananthr/todo'
alias ls='ls -G'
alias curl='curl -v'
alias gcc='gcc -Wall -O2'
alias cp='cp -i'
alias mv='mv -i'
alias grep='grep --ignore-case'
alias gvim='open -a /Applications/GVim.app'
spellcheck(){ typeset y=$@; curl -sd "<spellrequest><text>$y</text></spellrequest>" https://www.google.com/tbproxy/spell|sed -n '/s="[0-9]"/{s/<[^>]*/ /g;s/\t/ /g;s/ *\(.*\)/Suggestions:\1\n/g;p}'|tee >(grep -Eq '.*' || echo -e "OK");}
alias la='ls -allh'
alias aspell='/usr/local/Cellar/aspell/0.60.6/bin/aspell'
alias mtr='mtr --curses'
alias emacs='/usr/local/Cellar/emacs/23.2/bin/emacs'
alias gpg='gpg -v -v -v'
alias hexdump='hexdump -C'
